NODE_ENV = YOUR_NODE-ENV
PORT = YOUR PORT NUMBER
USERNAME = tathagata
PASSWORD = 123456
DB_URL = YOUR DATABASE URL
DB_PASSWORD = YOUR DATABASE PASSWORD


JWT_SECRET = JWT SECRET KEY
JWT_EXPIRES_IN = JWT EXPIRY DAY
JWT_COOKIE_EXPIRES_IN = COOKIE EXPIRY DAY

EMAIL_USERNAME= MAILTRAP USERNAME
EMAIL_PASSWORD= MAILTRAP PASSWORD
EMAIL_HOST: MAILTRAP HOST
EMAIL_PORT: MAILTRAP PORT