extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Login into your account
            form.form.form--login
                .form__group
                    label.form__label(for='email') Enter your Email address
                    input#email.form__input(type='email', placeholder='username@domain.com' required)
                .form__group.ma-bt-md
                    label.form__label(for='password') Enter your Password
                    input#password.form__input(type='password', placeholder='••••••••', minlength='8' required)
                .form__group
                    button.btn.btn--green Login